.main-left-zone {
   width: 30%;
   min-width: 335px;
   height: 98vh;
   margin: 1vh;
   box-shadow: 2px 2px 6px 2px #7e828a;
}

.main-users-header {
   display: inline-flex;
   background-color: navy;
   height: 10%;
   width: 100%;
}
.main-users-header input{
   margin: auto 10px;
   height: fit-content;
}
.main-users-header a{
   color: white;
   margin: auto 10px;
}

.main-users-list {
   width: 100%;
   height: 90%;
   overflow: auto;
 }

 .user-box {
    display: flex;
 }

 .item-user-box {
   display: inline-flex;
   width: -webkit-fill-available;
   border-radius: 5px;
   margin: 10px;
   padding: 5px;
   box-shadow: 1px 1px 2px 0px black;
 }
 .item-user-box.red{
   border: 5px solid indianred;
 }
 .item-user-box.green{
   border: 5px solid limegreen;
 }
 .item-user-box a{
   margin: auto;
 }
 .item-user-box form{
    width: 100%;
 }

 .user-list-details {
   display: grid;
   margin: 5px;
 }
 
.user-actions {
   display: inline-flex;
}
.actions-save-delete {
   margin-left: 25px;
}
.add-user-button {
   float: right;
   height: min-content;
   margin: auto !important;
}